/* COMMON STYLES */

body{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #0c3e2e;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

.header {
  background-image: url(../images/header-bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

 /* font-family: "Inter", sans-serif;
 font-family: "Balsamiq Sans", sans-serif;
 font-family: "Kaisei Decol", serif;
 font-family: "Manrope", sans-serif; */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-inner{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-top {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.logo {
}
.logo-img {
}
.menu {
}

.menu-list {
  display: flex;
  gap: 0 30px;
}

.menu-item {
}

.menu-link {
  text-transform: uppercase;
  font-size: 16px;
}

.phone {
  color: #bb8a52;
}

.header-content {
}

.content-inner {
  display: flex;
  gap: 0 22px;
  align-items: center;
  justify-content: space-between;
}

.content-box {
}

.content-text {
max-width: 510px;
}

.text-accent{
  color: #cc2e2e;
}

.header-title {
font-size: 48px;
font-weight: 600;
margin: 20px 0 80px;
max-width: 428px;
}

.content-btn {
  background-color: #ffba00;
  padding: 20px 32px;
  display: inline-block;
  margin-top: 50px;
  font-size: 20px;
  border-radius: 10px;
}
.content-img {
}

.inner-text{
  font-size: 24px;
  text-align: center;
  padding: 25px 0;
}
